@page "/data-binding"

<div style="padding-bottom:60px">
    <Interpolacao></Interpolacao>
</div>

<div style="padding-bottom:60px">
    <OneWayBinding></OneWayBinding>
</div>

<div style="padding-bottom:60px">
    <EventBinding></EventBinding>
</div>

<div style="padding-bottom:60px">
    <TwoWayBinding></TwoWayBinding>
</div>
